<form action="/insert_item" method="post">

  <label for="link_url">Input Link Url </label>
  <input type="text" id="link_url" name="query_link_url"> </input>

  <br>

  <label for="description_input">Input Description </label>
  <input type="text" id="description_input" name="query_link_description"> </input>

  <br>

  <label for="thumbnail_input">Input Thumbnail Url </label>
  <input type="text" id="thumbnail_input" name="query_thumbnail_url"> </input>

  <br>

  <button type=submit>Submit</button>



  

</form>
